<app-loading class="color-main" *ngIf="loading" [mensajeCarga]="mensajeEnviar"></app-loading>


<div class="d-flex justify-content-center mt-5">
    <h1>Huella Digital</h1>
</div>
<div class="d-flex justify-content-center gap-5 mt-5">
    <button *ngIf="idPaciente != 0" (click)="guardarHuella()" type="button" class="btn btn-success">{{ 'guardar' |
        uppercase}}</button>
    <button *ngIf="idPaciente == 0" (click)="buscarPaciente()" type="button" class="btn btn-warning">{{ 'Buscar' |
        uppercase}}</button>
</div>
<div class="d-flex justify-content-center mt-5 ">
    <img *ngIf="img !== ''" src='data:image/png;base64,{{ img }}' alt="Huella digital Imagen" width="300px" height="300px">
    <div *ngIf="img == ''" class="d-flex flex-column justify-content-center align-items-center text-xl">
        <span>Sin huellas detectadas</span>
        <span class="material-symbols-outlined" style="font-size: 5vw;">fingerprint</span> 
    </div>
</div>
<div class="d-flex justify-content-center mt-5">
    <img *ngFor="let item of huellasRegister" src='data:image/png;base64,{{ item }}' alt="Huella digital Imagen"
        width="200px" height="200px">
</div>
<div class="d-flex justify-content-end">
    <button *ngIf="huellasRegister.length != 0" type="button" class="btn btn-danger" (click)="reiniciarHuellas()">{{
        'reiniciar huellas' | uppercase }}</button>
</div>